{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="buy" name="symbol" placeholder="Symbol" type="text">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="shares" placeholder="Amount">
            <br>
            <button type = "submit">Buy Stocks</button>
        </div>
    </form>
{% endblock %}
